{% extends 'base.html' %}

{% block title %}{{ room.name }}{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="display-4">{{ room.name }}</h1>
        {% if request.user.username == room.created_by.username %}
        <div>
            <a href="{% url 'room:all-members' room.id %}" class="btn btn-primary">All Members</a>
        </div>
        
    </div>
    <p>Provide this uuid to join ==> {{ room.id }}</p>
        {% endif %}
</div>


<div class="container-lg mx-auto p-4 bg-white rounded-xl">
    <div class="chat-messages space-y-3 overflow-auto text-black" id="chat-messages">
        {% for m in room.message_set.all %}
            <div class="mb-2">
                <b>{{ m.sender }}</b>: {{ m.content }}
            </div>
        {% endfor %}
    </div>
</div>

<div class="container-lg mt-4 mx-auto p-4 bg-white rounded-xl">
    <form method="post" action="." class="d-flex">
        {% csrf_token %}
        <input type="text" name="content" class="form-control flex-grow-1 mr-3" placeholder="Your message..." id="chat-message-input">

        <button 
            type="submit"
            class="btn btn-primary"
            id="chat-message-submit"
        >Submit</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
{{ room.id|json_script:"json-roomid" }}
{{ request.user.username|json_script:"json-username" }}

<script>
    const roomId = JSON.parse(document.getElementById('json-roomid').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent);
    {% comment %} const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/'
        + roomId
        + '/'
    ); {% endcomment %}

    const wsProtocol = window.location.protocol === 'https:' ? 'wss://' : 'ws://';
    const chatSocket = new WebSocket(
        wsProtocol
        + window.location.host
        + '/ws/'
        + roomId
        + '/'
    );

    chatSocket.onclose = function(e) {
        console.log('onclose')
    }

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        if (data.message) {
            document.querySelector('#chat-messages').innerHTML += ('<div class="mb-2"><b>' + data.username + '</b>: ' + data.message + '</div>');
        } else {
            alert('The message was empty!')
        }
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').addEventListener('keyup', function(e) {
        if (e.keyCode === 13) {
            document.querySelector('#chat-message-submit').click();
        }
    });

    document.querySelector('#chat-message-submit').onclick = function(e) {
        e.preventDefault()

        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;

        chatSocket.send(JSON.stringify({
            'message': message,
            'username': userName,
            'room_id': roomId
        }));

        messageInputDom.value = '';

        return false
    };

</script>
{% endblock %}
